body, html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}
.border{
    background: rgb(195, 182, 129);
    height: 100px;
    width: 1264px;
    margin: 0;
    padding: 0;
    display: inline;
}

.background-image{
  background-image: url('./images/background_color.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
}

.esportsLogo{
    width: 320px;
    height: 106.75px;
    align-items: left;
}

.homeImg{
    width: 1264px;
    height: 443;
    position: relative;
}

.logoSac{
    width: 370px;
    height: 102px;
    padding-top: 10px;
    float: left;
    padding-left: 50px;
    padding-right: 30px;
}

.lineUp{
    cursor: pointer;
    font-weight: 150px;
    display: inline;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    color: rgb(3,76,56);
}

.lineUpTeams{
    cursor: pointer;
    font-weight: 150px;
    display: inline;
    text-align: left;
    padding-left: 125px;
    padding-right: 100px;
    padding-top: 25px;
    color: rgb(3,76,56);
}
body{
    background: rgb(241,241,241);
}
.nav-container{
    display: inline;
}

a{
    color:rgb(3,76,56);
    text-decoration: none;
    cursor: pointer;
}

.join-button{
    background:white;
    border: none;
    display: inline;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0,78,56);
    text-align: center;
    padding: 13px;
    font-size: 15px;
}
.navButtons{
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: black;
}

#navRight{
    float: right;
    margin-top: 20px;
}

#extraPadding{
    float: left;
    padding-right:50px;
    padding-left: 30px;

}

.footInfo{
    color: white;
    font-size: large;
    padding-top: 20px;
    float: right;
    padding-right: 5%;
}

.numberHref{
    color: rgb(195, 182, 129);
}

p.maxWidth1 {
  max-width: 1100px;
  text-align: center
}


h1{
    margin-top: 0;
    text-align: center;
    color: rgb(3,76,56);
}
.coverPageFont{
    color: rgb(3,76,56);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.liberatorFont{
  color: rgb(0,78,56);
  font-size: 22px;
  font-family: liberator;
  text-align: center;
}

.liberatorFontLarge{
  color: rgb(0,78,56);
  font-size: 35px;
  font-family: liberator;
  text-align: center;
}

.liberatorFontXLarge{
  color: rgb(0,78,56);
  font-size: 50px;
  font-family: liberator;
  text-align: center;
}

.liberatorFontLargeBlack{
  color: rgb(0,0,0);
  font-size: 35px;
  font-family: liberator;
  text-align: center;
}


@font-face{
  src: url('fonts/Liberator.ttf');
  font-family: liberator;
}
.twitter-container{
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 150px;
}
.footer-container{
  background:black;
  position: relative;
  height: 125px;
  margin-top: -100px;
  clear: both;
  text-align: left;
}


.social-resize{
    align-items: center;
    float: center;
    width: 30px;
    height: 30px;
    padding-left: 50px;
    padding-top: 50px;
}

.facebook-resize{
    align-items: center;
    float: center;
    width: 45px;
    height: 30px;
    padding-left: 50px;
    padding-top: 50px;
}

.overwatch-resize{
    align-items: center;
    float: center;
    width: 45px;
    height: 30px;
    padding-left: 50px;
    padding-top: 50px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}


input, select{
    width: 50%;
    display: block;
    margin: 10px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.column {
  float: left;
  width: 33.33%;
  padding: -50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.teambody {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
.teamimg {
  max-width: 100%;
  height: auto;
}
