body, html{
    padding:0;
    margin:0;
}
.border{
    background: rgb(195, 182, 129);
    height: 100px;
    width: 1264px;
    margin: 0;
    padding: 0;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
}

.esportsLogo{
    width: 320px;
    height: 106.75px;
}

.homeImg{
    width: 1264px;
    height: 443;
    position: relative;
}

.logoSac{
    width: 370px;
    height: 102px;
    padding-top: 10px;
    float: left;
    padding-left: 50px;
}

.lineUp{
    font-weight: 150px;
    display: inline;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    color: rgb(3,76,56);
}

body{
    background: rgb(241,241,241);
}


.joinButton{
    background: white;
    border: none;
    color: rgb(0,78,56);
    display: inline;
    padding: 13px;
    text-align: center;
    border-radius: 15px;
}
.navButtons{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: black;
}

#navRight{
    float: right;
    margin-top: 20px;
}

#extraPadding{
    float: left;
    padding-right:70px;
}
footer{
    background: black;
    height: 150px;
    width: 1264px;
}

.footInfo{
    color: white;
    font-size: large;
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
}
.numberHref{
    color: rgb(195, 182, 129);
}

p.maxWidth1 {
  max-width: 1100px;
  text-align: center
}

h1{
    margin-top: 0;
    text-align: center;
    color: rgb(3,76,56);
}
.coverPageFont{
    color: rgb(3,76,56);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.liberatorFont{
  color: rgb(0,78,56);
  font-size: 22px;
  font-family: liberator;
  text-align: center;
}

.liberatorFontLarge{
  color: rgb(0,78,56);
  font-size: 35px;
  font-family: liberator;
  text-align: center;
}

@font-face{
  src: url('fonts/Liberator.ttf');
  font-family: liberator;
}
